.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  background-color: #ff0006;
  height: 100%;
  width: 100%;
}

.content-container {
  background-color: white;
  color: black;
  font-size: 32px;
  font-weight: 500px;
}

.title {
}

.subTitle {
}
.button-start {
}
