.container {
  overflow: hidden;
  border-radius: 24px;
  > img {
    object-fit: fill;
    border: solid #d4d4d4 5px;
    border-radius: 24px;
    cursor: pointer;
    width: 300px;
    height: 400px;
    @media (max-width: 768px) {
      width: 150px;
      height: 300px;
    }
  }
}
