.congratulation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #ff0006;
  h1,
  h3 {
    margin: 8px;
  }
}
